<h1 class="title animated jackInTheBo">{{ title }}</h1>  
<button (click)="alterText()">alter</button>
<ul class="animated flipInX" *ngIf="mode == 'list'">
  <p><small>{{ date }}</small></p>
  <p *ngIf="todos.length == 0"><small>Você não tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let todo of todos">
    {{ todo.title }} - {{ todo.done }}
    <button (click)="removeItem(todo)">Remover</button>
    <button *ngIf="!todo.done" (click)="alterStatusItem(todo)">Concluir</button>
    <button *ngIf="todo.done" (click)="alterStatusItem(todo)">Refazer</button>
    <button (click)="showItemDetails(todo)">Detalhes</button>
  </li>
</ul> 
<div id="modal" *ngIf="mode == 'add'" class="animated flipInX">
  <form [formGroup]="form">
    <fieldset>
      <label>Título </label>
      <input type="text" placeholder="Insira um título" maxlength="30" formControlName="title">
      <small *ngIf="['form.controls.title.invalid'] && !form.controls['title'].pristine">Este campo deve conter entre 3 e 30 caracteres</small>
      <label>Comentário </label>
      <input type="text" placeholder="Insira um comentário" maxlength="300" formControlName="comment">
      <small *ngIf="['form.controls.comment.invalid'] && !form.controls['comment'].pristine">Este campo deve conter até 300 caracteres</small>
      <button class="button" (click)="add()" [disabled]="form.invalid">Salvar</button>
    </fieldset>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode == 'list'">
  <i class="fas fa-plus-circle"></i>
  Nova tarefa
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode == 'add'">
  <i class="fas fa-time"></i>
  Cancelar
</button>



 